body {
  font-family: sans-serif;
  background: #f4f7f6;
  text-align: center;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

textarea, select, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
}
